/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   list-style-type:none;
 }

 body{
   background-color: white;
 }

 li{
   display:inline-block;
 }

 .main-nav{
   text-transform:uppercase;
   text-align:center;
 }

.header {
  font-size: 60px;
  font-family: 'Monaco', sans-serif;
  text-align: center;
}

.dashboard {
  /*background-color: gainsboro;*/
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 800px;

}

.dashboard > div {
  margin: 10px;
  background-color:honeydew;
  border-radius: 5px;
  padding: 15px
}

.todos {
  flex-grow:1;
}

.todo {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 2px;
}

.blogContainer {
  flex-grow: 2;
  padding:0;
}

.savedJobs {
  flex-grow: 1;
  overflow:scroll;
}

.dashboardHeader{
  text-align: center;
  font-size: 30px;
}

.blogContainer {
  height: 350px;
  overflow:scroll;
}


.savedPosts {
  overflow:scroll;
  height: 400px;
}
.searchBox form {
  margin: 0;
  padding: 0;
  width: 250px;
}

.searchBox form input {
  background: transparent;
    background: rgba(163, 135, 106, 0.15);
    background-clip: padding-box;

    border: none;
    border-radius:         26px;

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1),
                        0 1px 0 rgba(255, 255, 255, 0.5),
                        inset 0 1px 2px rgba(0, 0, 0, 0.3),
                        0 0 40px rgba(255, 255, 255, 0.3);

    color: #333;
    height: 26px;
    margin: 10px;
    outline: none;
    padding: 0 20px 0 20px;

    transition:         all .1s linear;

    width: 250px;
}

.searchBox form input:focus {
  background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2),
                        0 1px 0 rgba(255, 255, 255, 0.7),
                        inset 0 1px 2px rgba(0, 0, 0, 0.4),
                        0 0 40px rgba(255, 255, 255, 0.5);
}

.todoForm {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7;
}

.todoForm h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.todoForm input {
   width: 92%;
   background: #fff;
   margin-bottom: 4%;
   border: 1px solid #ccc;
   padding: 3%;
   color: #555;
   font: 95% Arial, Helvetica, sans-serif;
}
