// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.title{
  font-family: 'Monaco';
  font-size: 100px;
  text-align: center;
  line-height:110px;
  color: #ebebd3;
}

.tagline {
  font-size:35px;
  line-height: 60px;
  letter-spacing:5px;
  text-align:center;
  color: #ebebd3;

}
