<!DOCTYPE html>
<html>
  <head>
    <title>HelloReactRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class = "header">

    <nav class="main-nav">
     <ul>
       <li><a href = "/dashboard"> Dashboard </a></li>
       <li><a href = "/search"> Search </a></li>
     </ul>
   </nav>
    <%= yield %>
  </body>
</html>
